img {
	-webkit-filter: blur(30px);
}

.inspected {
	-webkit-filter: blur(0px);
}

.uninspected {
}

.logo {
	-webkit-filter: blur(0px);
	visibility: visible;
	width: 50%;
}

.trigger-warning {
	color: black;
	font-weight: bold;
	text-align: center;
}

.trigger-holder {
	position: relative;
	overflow: hidden;
}

.trigger-overlay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.trigger-overlay:hover {
	opacity: 1;
}

